In [12]:
import pandas as pd
import numpy as np
import io
data_s1 = """
date,symbol,open,high,low,close,volume
2023-10-01,ABC,10.0,10.5,9.8,10.3,100000
2023-10-02,ABC,10.3,10.8,10.2,10.7,120000
2023-10-01,XYZ,50.0,51.0,49.5,50.5,50000
2023-10-02,XYZ,50.5,52.0,50.0,51.5,60000
2023-10-03,ABC,10.7,11.0,10.5,10.9,110000
2023-10-03,XYZ,51.5,53.0,51.0,52.5,70000
"""
data_s2 = """
date,symbol,open,high,low,close,volume
2023-10-04,ABC,10.9,11.5,10.8,11.2,130000
2023-10-04,XYZ,52.5,,52.0,53.0,80000
2023-10-05,ABC,11.2,12.0,11.0,11.8,150000
2023-10-05,XYZ,53.0,54.0,,53.5,90000
2023-10-06,ABC,11.8,12.2,11.5,12.1,140000
2023-10-06,XYZ,53.5,55.0,53.0,54.5,100000
"""
data_comp = """
symbol,name,employees,headquarters_city,headquarters_state
ABC,Alpha Beta Corp,500,New York,NY
XYZ,Xylos Zenith Inc,1200,San Francisco,CA
"""
stocks1 = pd.read_csv(io.StringIO(data_s1))
stocks2 = pd.read_csv(io.StringIO(data_s2))
companies = pd.read_csv(io.StringIO(data_comp))

In [13]:
print("--- 1.a) Thông tin stocks1 ---")
print("5 dòng đầu (Head):")
print(stocks1.head())
print("\n5 dòng cuối (Tail):")
print(stocks1.tail())
print("\nKiểu dữ liệu (Dtype):")
print(stocks1.dtypes)
print("\nThông tin (Info):")
stocks1.info()
print("-" * 50)
print("--- 1.b) Thông tin stocks2 ---")
print("5 dòng đầu (Head):")
print(stocks2.head())
print("\n5 dòng cuối (Tail):")
print(stocks2.tail())
print("\nKiểu dữ liệu (Dtype):")
print(stocks2.dtypes)
print("\nThông tin (Info):")
stocks2.info()
print("-" * 50)
print("--- 1.c) Thông tin companies ---")
print("Dữ liệu của companies:")
print(companies)
print("\nKiểu dữ liệu (Dtype):")
print(companies.dtypes)
print("\nThông tin (Info):")
companies.info()
print("-" * 50)

--- 1.a) Thông tin stocks1 ---
5 dòng đầu (Head):
         date symbol  open  high   low  close  volume
0  2023-10-01    ABC  10.0  10.5   9.8   10.3  100000
1  2023-10-02    ABC  10.3  10.8  10.2   10.7  120000
2  2023-10-01    XYZ  50.0  51.0  49.5   50.5   50000
3  2023-10-02    XYZ  50.5  52.0  50.0   51.5   60000
4  2023-10-03    ABC  10.7  11.0  10.5   10.9  110000

5 dòng cuối (Tail):
         date symbol  open  high   low  close  volume
1  2023-10-02    ABC  10.3  10.8  10.2   10.7  120000
2  2023-10-01    XYZ  50.0  51.0  49.5   50.5   50000
3  2023-10-02    XYZ  50.5  52.0  50.0   51.5   60000
4  2023-10-03    ABC  10.7  11.0  10.5   10.9  110000
5  2023-10-03    XYZ  51.5  53.0  51.0   52.5   70000

Kiểu dữ liệu (Dtype):
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Thông tin (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      object
 1   symbol  6 non-null      object
 2   open    6 non-null      float64
 3   high    6 non-null      float64
 4   low     6 non-null      float64
 5   close   6 non-null      float64
 6   volume  6 non-null      int64
dtypes: float64(4), int64(1), object(2)
memory usage: 468.0+ bytes
--------------------------------------------------
--- 1.b) Thông tin stocks2 ---
5 dòng đầu (Head):
         date symbol  open  high   low  close  volume
0  2023-10-04    ABC  10.9  11.5  10.8   11.2  130000
1  2023-10-04    XYZ  52.5   NaN  52.0   53.0   80000
2  2023-10-05    ABC  11.2  12.0  11.0   11.8  150000
3  2023-10-05    XYZ  53.0  54.0   NaN   53.5   90000
4  2023-10-06    ABC  11.8  12.2  11.5   12.1  140000

5 dòng cuối (Tail):
         date symbol  open  high   low  close  volume
1  2023-10-04    XYZ  52.5   NaN  52.0   53.0   80000
2  2023-10-05    ABC  11.2  12.0  11.0   11.8  150000
3  2023-10-05    XYZ  53.0  54.0   NaN   53.5   90000
4  2023-10-06    ABC  11.8  12.2  11.5   12.1  140000
5  2023-10-06    XYZ  53.5  55.0  53.0   54.5  100000

Kiểu dữ liệu (Dtype):
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Thông tin (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      object
 1   symbol  6 non-null      object
 2   open    6 non-null      float64
 3   high    5 non-null      float64
 4   low     5 non-null      float64
 5   close   6 non-null      float64
 6   volume  6 non-null      int64
dtypes: float64(4), int64(1), object(2)
memory usage: 468.0+ bytes
--------------------------------------------------
--- 1.c) Thông tin companies ---
Dữ liệu của companies:
  symbol              name  employees headquarters_city headquarters_state
0    ABC   Alpha Beta Corp        500          New York                 NY
1    XYZ  Xylos Zenith Inc       1200     San Francisco                 CA

Kiểu dữ liệu (Dtype):
symbol                object
name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object

Thông tin (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symbol              2 non-null      object
 1   name                2 non-null      object
 2   employees           2 non-null      int64
 3   headquarters_city   2 non-null      object
 4   headquarters_state  2 non-null      object
dtypes: int64(1), object(4)
memory usage: 212.0+ bytes
--------------------------------------------------

In [7]:
print("--- 2. Xử lý giá trị Null trong stocks2 ---")
print("Trước khi xử lý Null:")
print(stocks2[stocks2.isnull().any(axis=1)])
stocks2['high'] = stocks2.groupby('symbol')['high'].transform(lambda x: x.fillna(x.max()))
stocks2['low'] = stocks2.groupby('symbol')['low'].transform(lambda x: x.fillna(x.min()))
print("\nSau khi xử lý Null:")
print(stocks2.loc[3:4]) 
print("-" * 50)

--- 2. Xử lý giá trị Null trong stocks2 ---
Trước khi xử lý Null:
Empty DataFrame
Columns: [date, symbol, open, high, low, close, volume]
Index: []

Sau khi xử lý Null:
         date symbol  open  high   low  close  volume
3  2023-10-05    XYZ  53.0  54.0  52.0   53.5   90000
4  2023-10-06    ABC  11.8  12.2  11.5   12.1  140000
--------------------------------------------------

In [5]:
stocks = pd.concat([stocks1, stocks2], axis=0, ignore_index=True)

print("--- 3. DataFrame stocks sau khi gộp (Concatenate) ---")
print("15 dòng cuối (Tail) của stocks:")
print(stocks.tail(15)) 
print("-" * 50)
stocks_companies = pd.merge(stocks, companies, on='symbol', how='left')

print("--- 4. DataFrame stocks_companies sau khi gộp (Merge) ---")
print("5 dòng đầu (Head) của stocks_companies:")
print(stocks_companies.head())
print("-" * 50)

--- 3. DataFrame stocks sau khi gộp (Concatenate) ---
15 dòng cuối (Tail) của stocks:
          date symbol  open  high   low  close  volume
0   2023-10-01    ABC  10.0  10.5   9.8   10.3  100000
1   2023-10-02    ABC  10.3  10.8  10.2   10.7  120000
2   2023-10-01    XYZ  50.0  51.0  49.5   50.5   50000
3   2023-10-02    XYZ  50.5  52.0  50.0   51.5   60000
4   2023-10-03    ABC  10.7  11.0  10.5   10.9  110000
5   2023-10-03    XYZ  51.5  53.0  51.0   52.5   70000
6   2023-10-04    ABC  10.9  11.5  10.8   11.2  130000
7   2023-10-04    XYZ  52.5  55.0  52.0   53.0   80000
8   2023-10-05    ABC  11.2  12.0  11.0   11.8  150000
9   2023-10-05    XYZ  53.0  54.0  52.0   53.5   90000
10  2023-10-06    ABC  11.8  12.2  11.5   12.1  140000
11  2023-10-06    XYZ  53.5  55.0  53.0   54.5  100000
--------------------------------------------------
--- 4. DataFrame stocks_companies sau khi gộp (Merge) ---
5 dòng đầu (Head) của stocks_companies:
         date symbol  open  high   low  close  volume              name  \
0  2023-10-01    ABC  10.0  10.5   9.8   10.3  100000   Alpha Beta Corp
1  2023-10-02    ABC  10.3  10.8  10.2   10.7  120000   Alpha Beta Corp
2  2023-10-01    XYZ  50.0  51.0  49.5   50.5   50000  Xylos Zenith Inc
3  2023-10-02    XYZ  50.5  52.0  50.0   51.5   60000  Xylos Zenith Inc
4  2023-10-03    ABC  10.7  11.0  10.5   10.9  110000   Alpha Beta Corp

   employees headquarters_city headquarters_state
0        500          New York                 NY
1        500          New York                 NY
2       1200     San Francisco                 CA
3       1200     San Francisco                 CA
4        500          New York                 NY
--------------------------------------------------

In [6]:
avg_metrics_by_company = stocks_companies.groupby('name')[['open', 'high', 'low', 'close', 'volume']].mean().round(2)

print("--- 5. Giá trị trung bình của các chỉ số theo công ty ---")
print(avg_metrics_by_company)
print("-" * 50)

--- 5. Giá trị trung bình của các chỉ số theo công ty ---
                   open   high    low  close    volume
name
Alpha Beta Corp   10.82  11.33  10.63  11.17  125000.0
Xylos Zenith Inc  51.83  53.33  51.25  52.58   75000.0
--------------------------------------------------

In [9]:
close_metrics_by_company = stocks_companies.groupby('name')['close'].agg(['mean', 'max', 'min']).round(2)
print("--- 6. Giá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty ---")
print(close_metrics_by_company)
print("-" * 50)
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])

--- 6. Giá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty ---
                   mean   max   min
name
Alpha Beta Corp   11.17  12.1  10.3
Xylos Zenith Inc  52.58  54.5  50.5
--------------------------------------------------

In [10]:
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])

print("--- 7. Tạo cột parsed_time và kiểu dữ liệu ---")
print("5 dòng đầu của cột parsed_time:")
print(stocks_companies['parsed_time'].head())
print(f"\nKiểu dữ liệu của cột parsed_time: **{stocks_companies['parsed_time'].dtype}**")
print("-" * 50)

--- 7. Tạo cột parsed_time và kiểu dữ liệu ---
5 dòng đầu của cột parsed_time:
0   2023-10-01
1   2023-10-02
2   2023-10-01
3   2023-10-02
4   2023-10-03
Name: parsed_time, dtype: datetime64[ns]

Kiểu dữ liệu của cột parsed_time: **datetime64[ns]**
--------------------------------------------------

In [11]:
stocks_companies['result'] = np.where(stocks_companies['close'] > stocks_companies['open'], 'up', 'down')

print("--- 8. Thêm cột result ---")
print(stocks_companies[['date', 'symbol', 'open', 'close', 'result']])
print("-" * 50)

--- 8. Thêm cột result ---
          date symbol  open  close result
0   2023-10-01    ABC  10.0   10.3     up
1   2023-10-02    ABC  10.3   10.7     up
2   2023-10-01    XYZ  50.0   50.5     up
3   2023-10-02    XYZ  50.5   51.5     up
4   2023-10-03    ABC  10.7   10.9     up
5   2023-10-03    XYZ  51.5   52.5     up
6   2023-10-04    ABC  10.9   11.2     up
7   2023-10-04    XYZ  52.5   53.0     up
8   2023-10-05    ABC  11.2   11.8     up
9   2023-10-05    XYZ  53.0   53.5     up
10  2023-10-06    ABC  11.8   12.1     up
11  2023-10-06    XYZ  53.5   54.5     up
--------------------------------------------------